html, body, #mapa{

    height: 100%;
    width: 100%;
    margin: 0px;


}
#toggle{
    position: absolute;
    top: 20px;
    right: 20px;

}

#boton{
    position: absolute;
    top: 135px;
    right: 20px;

}